header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4369b2;
  padding: 0.5rem;
}

header select {
  color: white;
  background-color: #4369b2;
  border: none;
  font-weight: 300;
  font-size: 1.5rem;
  margin-left: 50vw;
  transform: translateX(-50%);
}

a {
  text-decoration: none;
}

.asset-list {
  display: flex;
  flex-wrap: wrap;
}

.asset-list a {
  flex: 50%;
}

.asset-list > a:nth-child(4n-1),
.asset-list > a:nth-child(4n) {
  background-color: #4268b1;
}

.asset-list > a:nth-child(4n-2),
.asset-list > a:nth-child(4n-3) {
  background-color: #3f62a4;
}

.asset-list > a:first-child .asset {
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #5586e2;
  width: 100vw;
  height: 18rem;
  padding: 3rem;
  gap: 2rem;
}

.asset-list > a:first-child .asset h1 {
  position: static;
  font-size: 7rem;
}

.asset-list > a:first-child .asset .basic-detail {
  position: static;
  font-size: 1rem;
  align-self: center;
}

.images {
  display: flex;
  gap: 1rem;
}

.images img {
  height: 2rem;
}
